snippet fn "Function Declaration"
fn $1($2) {
	$0
}
endsnippet

snippet pl "Print Line Statement"
println!($1);
endsnippet

snippet p "Print Statement"
print!($1);
endsnippet

snippet plq "Print Line Statement"
println!("$1");
endsnippet

snippet pq "Print Statement"
print!("$1");
endsnippet

